@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.inter {
  font-family: "Inter", sans-serif;
}
.bebas {
  font-family: "Bebas Neue", sans-serif;
}
.line__height {
  line-height: 150px;
  letter-spacing: 1px;
  width: 1000px;
}
.size {
  line-height: 100%;
  letter-spacing: 0%;
}
